<mat-nav-list>
  <div class="links">
    <mat-list-item >
      <span matListItemIcon><mat-icon fontIcon="house" routerLink="home" routerLinkActive="active-link"></mat-icon></span>
      <span matListItemTitle>Home</span>
    </mat-list-item>
    <mat-list-item   >
      <span matListItemIcon><mat-icon fontIcon="dashboards" routerLink="dashboard" routerLinkActive="active-link"></mat-icon></span>
      <span matListItemTitle>Dashboard</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemIcon><mat-icon fontIcon="devices_other"></mat-icon></span>
      <span matListItemTitle>Devices</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemIcon><mat-icon fontIcon="messages"></mat-icon></span>
      <span matListItemTitle>Messages</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemIcon><mat-icon fontIcon="security"></mat-icon></span>
      <span matListItemTitle>Security</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemIcon><mat-icon fontIcon="monitoring"></mat-icon></span>
      <span matListItemTitle>Statistics</span>
    </mat-list-item>
  </div>
  <mat-list-item>
    <span matListItemIcon><mat-icon fontIcon="account_circle"></mat-icon></span>
    <span matListItemTitle>Profile</span>
  </mat-list-item>
</mat-nav-list>
