<div class="card">
  <div class="rating">
    <h2 class="counter"><strong>{{displayDigit()}}</strong>{{unit()}}<br>
    <span>{{subtitle()}}</span></h2>
    
    @for (ar of arr(); track ar) {
      <div  class="block" [style]="
        'transform: rotate('+ar.deg+'deg);'+
        'animationDelay: '+ $index / 40 +'s;'
      "
      [ngStyle]="{
        'box-shadow': !ar.value ? '0 0 15px #0f0,0 0 30px #0f0' : '',
        'background': !ar.value ? '#0f0' : '',
        'height': ar.isPeak ? '20px' : '',
      }"
      ></div>
    }
  </div>
</div>